html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 1fr;
}

.drop-down {
    background-color: #ccddfd;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
}

.button {
    font-family: "Montserrat";
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #1f8cff;
    font-size: 1.2rem;
    font-weight: 600;
    user-select: none;
}

.head {
    cursor: pointer;
}

.container {
    position: relative;
}

.menu {
    position: absolute;
    top: 110%;
    background-color: white;
    width: 270px;
    border: 2px solid #1f8cff;
    border-radius: 5px;
    right: 0;
    display: none;
    z-index: 100;
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.items {
    list-style-type: none;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 600;
    user-select: none;
}

.items:hover {
    background-color: #ebf1ff;
    color: #0210fb;
}

.svg {
    max-width: 20px;
    max-height: 20px;
}

.visible {
    display: block;
}

.slider {
    position: relative;
    border: 3px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.images {
    background-color: grey;
    height: 80%;
    width: 80%;
    position: relative;
}

.images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images img:not(.visible) {
    display: none;
}

.left,
.right,
.dots {
    font-size: 2rem;
    color: grey;
    position: absolute;
    user-select: none;
}

.left,
.right {
    top: 40%;
    font-size: 6rem;
    cursor: pointer;
}

.left {
    left: 3%;
}

.right {
    right: 3%;
}

.dot {
    cursor: pointer;
}

.dots {
    display: flex;
    gap: 5%;
    bottom: 2%;
    width: 100%;
    justify-content: center;
}
